----------------------------------- ----------------------------------- ----------------------------------- 
----------------------------------- ESPACIO PARA BANNER DE LA MAESTRIA -----------------------------------
----------------------------------- ----------------------------------- -----------------------------------

# Introducción a Python

   Este notebook es un breve repaso sobre las funciones básicas y librerias de `Python` que va a necesitar para este curso.

## Operaciones básicas

Siempre es útil recordar que podemos usar a `Python` para casi cualquier cosa de desarrollo computacional, pero empecemos con lo primero. Es una calculadora :).
Realice alguna operación con los siguientes comandos
- Suma (`+`). 
- Resta (`-`)
- Multiplicación (`*`)
- División (`/`)
- División entera (`//`)
- Modulo (`%`)
- Potencia (`**`)

In [34]:
print("### Suma ###")
print(5 + 5)
print("### Resta ###")
print(5 - 5)
print("### Multiplicación ###")
print(3 * 5)
print("### División ###")
print(10 / 3)
print("### Divisón entera ###")
print(10 // 3)
print("### Modulo ###")
print(18 % 7)
print("### Potencia ###")
print(4 ** 2)

### Suma ###
10
### Resta ###
0
### Multiplicación ###
15
### División ###
3.3333333333333335
### Divisón entera ###
3
### Modulo ###
4
### Potencia ###
16

## Variables
Para definir variables en Python utilizamos el simbolo de igual (`=`). Como buena práctica de programación, cuando definimos un nombre, utilizamos guión bajo (`_`) para separar las palabras. **Nunca usamos un punto**. Adicionalmente se recomienda no usar caracteres especiales como tildes o ñ en los nombres de los objetos que definamos.

A continuación debe crear 4 variables. 
- La primera variable se debe llamar `refran` y debe ser un texto alusivo a un refran. Hint: Todos los textos deben estar entre comillas para que Python sepa que son textos.
- La segunda variable se debe llamar `x` y debe ser un número entero.
- La tercera variable se debe llamar `pi` y debe ser el número pi aproximado
- La cuarta variable se debe llamar `condicion` y debe tomar el valor de `True` o `False`

In [35]:
refran = "Al que madruga le da sueño por la tarde"
x = 3
pi = 3.1416
condicion = True

Note que cada variable tiene un color diferente. El color está asociado al **tipo** de variable. En mi caso, se ve naranja si la variable es un texto (*string*), verde si es un número (*integer* o *float*) y azul si es una variable booleana (*bool*). Para chequear el tipo de una variable siplemente escribimos:
> type(nombre_de_la_variable)

In [36]:
print(type(refran))
print(type(x))
print(type(pi))
print(type(condicion))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Saber la clase de los objetos con los que trabajamos es muy importante porque dependiendo de esta las operaciones y funciones a implementar van a cambiar su resultado. Por ejemplo, pruebe las siguientes operaciones:
```python
x + pi
pi - 2*condicion
not condicion
condicion + 0
refran + refran
refran * 5
```

In [37]:
print(x + pi)
print(pi - 2*condicion) 
print(not condicion) 
print(condicion + 0) # True equivale a 1 y False equivale a 0
print(refran + refran) # Se pueden concatenar strings usando +
print((refran + " ")* 5)

6.1416
1.1416
False
1
Al que madruga le da sueño por la tardeAl que madruga le da sueño por la tarde
Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde

## Listas
Las listas son una forma de almacenar una secuencia de objetos. Una lista puede contener objetos de diferentes tipos e incluso puede contener otras listas. La forma más fácil de construir una lista es con dos corchetes (`[]`) y separando los elementos con una coma (`["a", "b"]`)

In [38]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)
print(type(beatles)) 
notas_taller1 = [4.2, 3.8, 4.5, 2, 5]
print(notas_taller1)
random_list = ['mytext', 3.0, 7, [10, 20]]
print(random_list)
lista_vacia = []
print(lista_vacia)

['John', 'Paul', 'George', 'Ringo']
<class 'list'>
[4.2, 3.8, 4.5, 2, 5]
['mytext', 3.0, 7, [10, 20]]
[]

Python es un método de programación orientado a objetos, es decir que casi todas las variables que definimos tienen ciertos atributos y propiedades. Las listas son un objeto que nos permite hacer diferentes operaciones. Empecemos partiendo nuestras listas en algunos subconjuntos.

Cada elemento de una lista se encuentra en una posición. En Python se le conoce como *index* y **la primera posición es el 0**, la segunda es el 1 y así sucesivamente hasta llegar a la última posición la cual sería n - 1.

Por ende, si queremos extraer el primer elemento de una lista debemos escribir `nombre_lista[0]`

In [39]:
print(beatles[0])
print(beatles[1])
print(beatles[-1]) # Acceder al último elemento. Tenga en cuenta que es -1 y no -0 (:P).
print(beatles[-2]) # Acceder al n-ésimo - 1 elemento.
print(random_list[-1][0]) # Acceder al último elemento de la lista que es otra lista. Una vez en esa lista, accedemos al primer elemento de la lista

John
Paul
Ringo
George
10

Si queremos extraer más de un elemento podemos usar los siguientes trucos. Tenga en cuenta que los corchetes en Python son inclusivos por la izquierda pero exclusivos por la derecha.

In [40]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
print(example[0:5]) # Extraemos los primeros 5 elementos
print(example[1:5]) # De los primeros 5 elementos, extraemos los últimos 4
print(example[2:3]) # Solo extraemos el tercer elemento. No incluye el cuarto!
print(example[:3]) # Desde el comienzo al tercer elemento. Note que es excluyente a la derecha
print(example[3:]) # Desde el cuarto elemento hasta el final de la lista. Note que es incluyente a la izquierda
print(example[0:6:2]) # Comenzamos a extraer de 2 en dos desde el elemento 1 hasta el elemento 10. Syntaxis: nombre_lista[indice_inicial:indice_final:tamaño_paso]
print(example[::2]) # Extraer toda la lista de 2 en 2
print(example[::-1]) # Poner la lista en orden inverso
example[0] = "Hola" # También podemos modificar la lista
print(example)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 3, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]

Las operaciones básicas entre listas son muy similares a las operaciones entre strings.

In [41]:
print(example + example)
print(example * 3)
print(example + ["Añadir nuevo elemento a la lista"])

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Añadir nuevo elemento a la lista']

## Condiciones
Antes de entrar a los *if statements* vamos a estudiar los diferentes tipos de condiciones:
- Igual (`==`)
- No es igual (`!=`)
- Menor que y Menor o igual que (`<` y `<=`)
- Mayor que y Mayor o igual que (`>` y `>=`)
- y (`and` o `&`)
- o (`or` o `|`)
- Negación (`not` o `~`)

Veamos

In [42]:
x = 2
condicion1 = x == 2 
condicion1

True

In [43]:
condicion2 = x == 3 
condicion2

False

In [44]:
condicion3 = x < 3
condicion3

True

In [45]:
# Recordemos en breve las tablas lógicas de verdad
print(condicion1 and condicion2) # T & F -> F
print(condicion2 and condicion1) # F & T -> F
print(condicion1 or condicion2) # T | F -> T
print(condicion2 or condicion1) # F | T -> T

False
False
True
True

## Control flows
Ejecutar código en caso de que se cumplan ciertas condiciones. Acá tenemos 3 comandos básicos: `if`, `else` y `elif`.

La sintaxis para los *control flows* es:

```
if condicion1:
    # Si la condición es True se ejecuta este chunk de código
    print("condicion1 es verdadera")
elif condicion2:
    # Si la condición 1 es False y la condición 2 es True, se ejecuta este chunk_de_codigo
    print("condicion1 es falsa y la condicion2 es verdadera")
else:
    # Si la condición 1 y 2 son falsas, se ejecuta este chunk_de_codigo
    print("condicion1 y la condicion 2 son falsas")
```

Python es un lenguaje minimalista por lo que para hacer *control flows* no usa paréntesis ni corchetes. Después de la condición solo se debe incluir el símbolo de dos puntos (`:`) y el código que se desea correr si la condicion es verdadera debe estar debajo e indentado por 4 espacios (un tab).

In [46]:
lado_oscuro = "Anakin Skywalker"
hijo = "Luke Skywalker"

if lado_oscuro == "Anakin Skywalker": 
    print("Darth Vader")

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")

Darth Vader

In [47]:
if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Anakin Skywalker es el padre de Luke Skywalker

In [48]:
padre = lado_oscuro

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
elif padre == "Anakin Skywalker":
    print("Yo soy tu padre!")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Yo soy tu padre!

## Loops

Existen dos tipos de loops.
- *for loops* en donde se itera sobre una lista de elementos.
- *while loops* en donde se itera hasta que cierta condición se deje de cumplir

In [49]:
# Iterar sobre los números del 0 al 4
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [50]:
# Iterar sobre los números del 3 al 7 de dos en dos
for x in range(3, 8, 2):
    print(x)

3
5
7

In [51]:
# También se puede iterar sobre un string
for x in "Python":
   print(x)

P
y
t
h
o
n

In [52]:
# Break statement
mago = ["Harry", "Hermione", "Ron", "Voldemort", "Dumbledore"]
for x in mago:
    if x == "Voldemort":
        break # Es como un freno de mano
    print(x)

Harry
Hermione
Ron

In [53]:
# Continue statement
for x in mago:
    if x == "Voldemort":
        continue # Pare la iteración en la que va y continue con la siguiente
    print(x)

Harry
Hermione
Ron
Dumbledore

In [54]:
x = 1
while x < 5: 
    print(x)
    x += 1

1
2
3
4

## Loops de una sola linea

Los *loops* de una sola línea típicamente se usan para definir listas de una manera comprensiva a partir de un iterable (características en común, operaciones sobre el iterable, etc). La sintaxis es:

```python
lista_compresiva = [elemento for elemento in iterable]
```

Recordemos que los iterables que hemos visto hasta ahora son los `strings`, las `tuplas` y las `listas`. Adicionalmente, podemos poner un condicional dentro de la definición. La sintaxis es:

```python
lista_compresiva = [elemento for elemento in iterable if condicion]
```

Cree una lista con los elementos de la palabra **tiburon**

In [55]:
lista_tiburon = [letra for letra in 'tiburon']
lista_tiburon

['t', 'i', 'b', 'u', 'r', 'o', 'n']

Cree una lista con los cuadrados de los números múltiplos de 3 menores a 30

In [56]:
lista_numeros = [x**2 for x in range(30) if x%3==0]
lista_numeros

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

## Funciones
La sintaxis sería:
```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    Parameters:
        parametro1 (clase_parametro1): Descripción de qué es el input y qué valores puede tomar. 
        parametro2 (clase_parametro2): Descripción de qué es el input y qué valores puede tomar. 

    Returns:
        output1 (clase_output): Descripción de lo que es el output y qué valores puede tomar.
    """

    # Bloque de código
    
    return(resultado)
```

In [57]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    Parameters:
        a (float): número a sumar.
        b (float): número a sumar.

    Returns:
        resultado (float): suma de a + b
    """
    
    resultado = a + b

    return(resultado)

In [58]:
# Con el signo de interrogación (?) podemos acceder a la documentación de las funciones, por ende 
# es importante documentar bien las funciones que creemos para ayudar a que terceros las puedan
# implementar de manera adecuada.
?suma_dos_numeros

Signature: suma_dos_numeros(a, b)
Docstring:
Esta función toma dos números y entrega la suma de estos.

Parameters:
    a (float): número a sumar.
    b (float): número a sumar.

Returns:
    resultado (float): suma de a + b
File:      c:\users\user\onedrive - universidad de los andes\complementarias\unsupervised learning miad\unsupervised_learning_miad\tutoriales\week1\<ipython-input-57-07e06ced69e7>
Type:      function

In [59]:
suma_dos_numeros(2, 3)

5

## Introducción a Pandas
pandas es la librería más famosa de Python para la manipulación de bases de datos. En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño
- Data Frames: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas
- Panel: arreglo 3D, tamaño mutable.

Para ver si la librería pandas está instalada podemos escribir el siguiente comando `!pip show pandas`. En este caso utilizamos el signo de exclamación `!` para correr comandos directamente en la consola de nuestro equipo desde Jupyter. 

`pip` hace alusión al principal administrador de paquetes de Python. A continuación mostramos algunos comandos de pip y su uso. Recuerde que para correrlos puede escribirlos directamente desde su consola o en Jupyter antecediéndolos con un signo de exclamación.
- `pip help`. Se utiliza para mostrar los principales comandos disponibles de pip.
- `pip install nombre_paquete`. Se instala la última versión del paquete que escribamos en el cambo nombre_paquete.
- `pip install nombre_paquete==1.3.1`. Se instala la versión 1.3.1 del paquete nombre_paquete. Puede escoger la versión que desee del paquete simplemente cambiando los números después del doble igual (==).
- `pip uninstall nombre_paquete`. Se desinstala el paquete nombre_paquete.
- `pip list`. Muestra los paquetes instalados y su respectiva versión.
- `pip show nombre_paquete`. Muestra la metadata del paquete nombre_paquete.

Existen otras herramientas para administrar paquetes y ambientes como conda y pipenv pero no se revisarán en este curso.

In [4]:
# Note que en este caso todavía no tenemos el paquete instalado
!pip show pandas

WARNING: Package(s) not found: pandas

In [5]:
# Vamos a instalar la versión de pandas 1.3.0
!pip install pandas==1.3.0

Collecting pandas==1.3.0
  Downloading pandas-1.3.0-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas==1.3.0) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from pandas==1.3.0) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas==1.3.0) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.15.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.0

In [7]:
# Ahora podemos verificar que nuestro paquete está instalado.
!pip show pandas

Name: pandas
Version: 1.3.0
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\user\anaconda3\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: pmdarima, -tatsmodels, twint, statsmodels, seaborn, geopandas

Como ya tenemos el paquete instalado procedemos a cargar el paquete y a declarar que vamos a acceder a él a través de la abreviación pd

In [61]:
import pandas as pd

In [62]:
# Creamos 4 listas
nombres = ['Lucas', 'Juliana', 'Juan', 'Carla']
sexo = ['M', 'F', 'M', None]
edad = [23, 21, 25, 30]
notas = [4.5, 2, 3.25, 4]
# Luego creamos un diccionario a partir de estas listas
diccionario = {'names': nombres, 'sex': sexo, 'age': edad, 'grades': notas}
diccionario

{'names': ['Lucas', 'Juliana', 'Juan', 'Carla'],
 'sex': ['M', 'F', 'M', None],
 'age': [23, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

In [63]:
# Convertimos el diccionario en un dataframe
data = pd.DataFrame(diccionario)
data

     names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00

Como nuestro dataframe es un objeto, este tiene algunos atributos a los cuales podemos acceder escribiendo un punto (.) luego del nombre de nuestra base y luego el nombre del atributo que queremos visitar. Los principales atributos de un dataframe son los siguientes:
1. _index_
2. _columns_
3. _shape_
4. _size_
5. _data.count()_
6. _values_
7. _T_
8. _dtypes_

In [64]:
# Estudio el índice. El índice es un identificador de las filas. Generalmente se numeran las filas de 
# 0 a n - 1, sin embargo se pueden cambiar los índices para que sean una palabra o una sequencia de
# números deseada. Lo importante es que no se repitan los índices porque de ser así dejarían de ser
# un identificador claro de cada fila.
data.index

RangeIndex(start=0, stop=4, step=1)

In [65]:
# Nombre de las columnas
data.columns

Index(['names', 'sex', 'age', 'grades'], dtype='object')

In [66]:
# Dimensiones de la base (filas, columnas)
data.shape

(4, 4)

In [67]:
# Cantidad de datos: filas x columnas
data.size

16

In [68]:
# Cantidad de datos no Nulos
data.count()

names     4
sex       3
age       4
grades    4
dtype: int64

In [69]:
# Volvemos el dataframe un np.array
data.values

array([['Lucas', 'M', 23, 4.5],
       ['Juliana', 'F', 21, 2.0],
       ['Juan', 'M', 25, 3.25],
       ['Carla', None, 30, 4.0]], dtype=object)

In [70]:
# Trasponemos la base
data.T # Note que ahora los índices de la base son los nombres de las columnas de la base sin trasponer

            0        1     2      3
names   Lucas  Juliana  Juan  Carla
sex         M        F     M   None
age        23       21    25     30
grades    4.5      2.0  3.25    4.0

In [71]:
# Tipos de cada variable
data.dtypes

names      object
sex        object
age         int64
grades    float64
dtype: object

Existen diferentes métodos para filtrar nuestra base de datos por columnas o por filas. Si queremos utilizar el nombre que identifica a la fila o a la columna, usamos el método `.loc`. Si queremos usar la posición de la fila o la columna, usamos el método `iloc`. Para este último es importante recordar que Python es un lenguaje 0-index, es decir que la primera posición se marca con 0.

A continuación se presentan algunos ejemplos:

In [72]:
# Extraiga la columna names 
data.loc[:,'names']

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

In [73]:
data.iloc[:,0]

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

In [74]:
# Extraiga la columna names y sex
data.loc[:, ['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

In [75]:
# Cuando queremos extraer columnas solamente, podemos obviar el comando loc y usar solo corchetes
data[['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

In [76]:
data['names']

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

Si solo deseamos acceder a una columna y el nombre de esta no tiene espacios ni carácteres especiales podemos acceder utilizando el comando `nombre_base.nombre_columna`

In [77]:
data.names

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

In [83]:
# Extraiga la tercera fila de la base
data.iloc[2,:] # Usamos el signo : para dejar claro que queremos que nos muestre todas las columnas 
# pero no es necesario incluirlo

names     Juan
sex          M
age         25
grades    3.25
Name: 2, dtype: object

In [84]:
# Extraiga la tercera y cuarta fila de la base
data.iloc[2:4,]

   names   sex  age  grades
2   Juan     M   25    3.25
3  Carla  None   30    4.00

In [80]:
# Extraiga la primera y la tercera fila de la base
data.iloc[[0,2],:]

   names sex  age  grades
0  Lucas   M   23    4.50
2   Juan   M   25    3.25

A partir del comando `.loc` también podemos filtrar la base utilizando condicionales. Por ejemplo, si quisieramos quedarnos solo con los individuos que fueran mujeres podríamos utilizar un condicional para marcar las filas en donde hay una mujer con un `True` y las demás con un `False`.

In [81]:
filtro = data["sex"] == "F"
filtro # Solo la segunda fila tiene a una mujer

0    False
1     True
2    False
3    False
Name: sex, dtype: bool

In [85]:
data.loc[filtro,] # Nos devuelve todas las columnas y solo las filas con mujeres
# Note que no nos muestran a Carla dado que su sexo es una información desconocida en nuestra base

     names sex  age  grades
1  Juliana   F   21     2.0

Para crear una nueva columna puede hacerlo de la siguiente manera:
`nombre_base['nombre_columna'] = contenido_columna`

In [87]:
data['rescaled_grades'] = data.grades*100/5

Para extraer la información clave de nuestra base usamos dos comandos:
- _info()_: Este atributo nos dice cuántas observaciones tenemos, cuántas columnas, la clase de cada columna y cuántos valores completos tiene.
- _describe_(): Nos muestra las estadísticas descriptivas de las variables.

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   names            4 non-null      object
 1   sex              3 non-null      object
 2   age              4 non-null      int64
 3   grades           4 non-null      float64
 4   nombre_columna   4 non-null      int64
 5   rescaled_grades  4 non-null      float64
dtypes: float64(2), int64(2), object(2)
memory usage: 320.0+ bytes

In [89]:
data.describe() # Estadísticas descriptivas de las variables numéricas

            age    grades  nombre_columna  rescaled_grades
count   4.00000  4.000000             4.0         4.000000
mean   24.75000  3.437500             1.0        68.750000
std     3.86221  1.087332             0.0        21.746647
min    21.00000  2.000000             1.0        40.000000
25%    22.50000  2.937500             1.0        58.750000
50%    24.00000  3.625000             1.0        72.500000
75%    26.25000  4.125000             1.0        82.500000
max    30.00000  4.500000             1.0        90.000000

In [91]:
data.describe(include = [object]) # Estadísticas descriptivas de variables que son strings

        names sex
count       4   3
unique      4   2
top     Lucas   M
freq        1   2

In [92]:
data.describe(include = "all") # Estadísticas descriptivas de todas las columnas según su tipo

        names  sex       age    grades  nombre_columna  rescaled_grades
count       4    3   4.00000  4.000000             4.0         4.000000
unique      4    2       NaN       NaN             NaN              NaN
top     Lucas    M       NaN       NaN             NaN              NaN
freq        1    2       NaN       NaN             NaN              NaN
mean      NaN  NaN  24.75000  3.437500             1.0        68.750000
std       NaN  NaN   3.86221  1.087332             0.0        21.746647
min       NaN  NaN  21.00000  2.000000             1.0        40.000000
25%       NaN  NaN  22.50000  2.937500             1.0        58.750000
50%       NaN  NaN  24.00000  3.625000             1.0        72.500000
75%       NaN  NaN  26.25000  4.125000             1.0        82.500000
max       NaN  NaN  30.00000  4.500000             1.0        90.000000

#### Estadísticas descriptivas
1. _sum()_
2. _min()_
3. _max()_
4. _idxmin()_
5. _idxmax()_
6. _mean()_
7. _median()_

In [93]:
data.sum()

<ipython-input-93-1a71ea4920a7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.sum()

names              LucasJulianaJuanCarla
age                                   99
grades                             13.75
nombre_columna                         4
rescaled_grades                    275.0
dtype: object

In [94]:
data.min()

<ipython-input-94-9129c1932162>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.min()

names              Carla
age                   21
grades               2.0
nombre_columna         1
rescaled_grades     40.0
dtype: object

In [95]:
data.max()

<ipython-input-95-8637789457d2>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.max()

names              Lucas
age                   30
grades               4.5
nombre_columna         1
rescaled_grades     90.0
dtype: object

In [96]:
data.age.idxmin()

1

In [97]:
data.rescaled_grades.idxmax()

0

In [98]:
data.mean()

<ipython-input-98-abc01cf6c622>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

age                24.7500
grades              3.4375
nombre_columna      1.0000
rescaled_grades    68.7500
dtype: float64

In [99]:
data.median()

<ipython-input-99-135339ac59ce>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

age                24.000
grades              3.625
nombre_columna      1.000
rescaled_grades    72.500
dtype: float64

#### Importar datos
Para importar datos debemos definir primero nuestro directorio. Es decir, decirle a Python en donde están ubicados nuestros archivos. Para tal fin, haremos uso de la librería `os`

In [100]:
import os

In [5]:
# ¿Cuál es el directorio actual?
os.getcwd() #Get Current Working Directory

'C:\\Users\\User\\Downloads'

In [6]:
# Para cambiar nuestro directorio escribimos entre paréntesis la ruta de la carpeta en 
# donde están ubicados nuestros archivos

# En este caso vamos a definir como directorio la carpeta Datos dentro de la carpeta de 
# Descargas de nuestro pc.
os.chdir('C:\\Users\\User\\Downloads\\Datos') 
# Nota: Es probable que la carpeta de descargas en su computador esté en otra ruta por lo cual
# deba cambiar el contenido de la celda.

# Nota 2: Note que las barras inversas o backslashes (\) vienen de a pares en la ruta definida. 
# La razón de esto es que cuando Python procesa texto, entiende la barra inversa como un comando 
# para saltarse el siguiente caracter. Por ejemplo, cuando procesa el texto: "C:\New_Files", lo
# que Python entiende es: c:ew_files. Por tal motivo, usamos doble barra inversa (\\) para expresar
# que estamos separando las carpetas dentro de una ruta.

In [108]:
# Para ver los archivos dentro de nuestro directorio utilizamos el comando
os.listdir()

['info_accidentes.csv', 'info_accidentes.xlsx']

In [113]:
# Para cargar un archivo en formato csv usamos la función pd.read_csv()
accidentes = pd.read_csv('info_accidentes.csv')
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

In [115]:
# Note que esta función tiene muchos argumentos que sirven para especificar en caso de que el 
# separador del archivo no sea una coma sino otra cosa como punto y coma, tab, etc o para 
# escoger que fila corresponde al nombre de las columnas, entre otras. Para más información,
# dirigirse a https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
?pd.read_csv

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePathOrBuffer',
    sep=<no_default>,
    delimiter=None,
    header='infer',
    names=<no_default>,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=<no_default>,
    mangle_dupe_cols=True,
    dtype: 'DtypeArg | None' = None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal: 'str' = '.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors: 'str | None' = 'strict',
    dialect=None,
    error_bad_lines=None,
    warn_bad_lines=None,
    on_bad_lines=None,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    storage_options: 'StorageOptions' = None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      c:\users\user\anaconda3\lib\site-packages\pandas\io\parsers\readers.py
Type:      function

In [114]:
# Para cargar un archivo de excel usamos la función pd.read_excel()
accidentes2 = pd.read_excel('info_accidentes.xlsx')
accidentes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
 11  TipoVia1          34931 non-null  object
 12  NumeroVia1        34931 non-null  object
 13  LetraVia1         34931 non-null  object
 14  CardinalVia1      34931 non-null  object
 15  TipoVia2          34931 non-null  object
 16  NumeroVia2        34625 non-null  float64
 17  LetraVia2         34931 non-null  object
 18  CardinalVia2      34931 non-null  object
 19  Localidad         34931 non-null  object
 20  HoraOcurrencia    34931 non-null  object
 21  TipoDiseño        34931 non-null  object
 22  TipoTiempo        34931 non-null  object
 23  TotalMuertos      34931 non-null  int64
 24  TotalHeridos      34931 non-null  int64
dtypes: float64(3), int64(2), object(20)
memory usage: 6.7+ MB