----------------------------------- ----------------------------------- ----------------------------------- 
----------------------------------- ESPACIO PARA BANNER DE LA MAESTRIA -----------------------------------
----------------------------------- ----------------------------------- -----------------------------------

# Introducción a Python

   Este *cuaderno* es un breve tutorial sobre las funciones básicas y librerias de `Python` que va a necesitar el desarrollo de buena parte de las actividades de este curso. **NO** es necesario que usted edite el archivo o haga una entrega. Sin embargo, es libre de modificar el archivo, editando celdas de texto (celdas *Markdown*) o las celdas de código (`celdas con código ejecutable estan en gris`). Modificando las celdas puede ser una buena forma de aprender nuevas funcionalidades del cuaderno o experimentar varaiciones de los códigos de ejemplo.

## Operaciones básicas

Para comenzar es bueno tener en cuenta que podemos usar a `Python` para casi cualquier cosa de desarrollo computacional, desde operaciones algebraicas básicas hasta programas complejos.

Iniciemos con operaciones algebráicas básicas:

- Suma (`+`).

In [160]:
print(5 + 5)

10

- Resta (`-`).

In [161]:
print(5 - 5)

0

- Multiplicación (`*`).

In [162]:
print(3 * 5)

15

- División (`/`).

In [163]:
print(10 / 3)

3.3333333333333335

- División entera (`//`).

In [164]:
print(10 // 3)

3

- Modulo (`%`).

In [165]:
print(18 % 7)

4

- Potencia (`**`).

In [166]:
print(4 ** 2)

16

## Variables

Para definir variables en Python utilizamos el simbolo de igual (`=`). Como buena práctica de programación, cuando definimos un nombre, utilizamos guión bajo (`_`) para separar las palabras. **Nunca usamos un punto**. Adicionalmente se recomienda no usar caracteres especiales como tildes o ñ en los nombres de los objetos que definamos.

A continuación vamos a crear 4 variables:

- La primera variable la llamaremos `refran` y tiene un texto alusivo a un refran. Todos los textos deben estar entre comillas para que `Python` sepa que son textos.

In [167]:
refran = "Al que madruga le da sueño por la tarde"

- La segunda variable la llamaremos `x` y será un número entero.

In [168]:
x = 3

- La tercera variable la llamaremos  `pi` y será una aproximación al número $\pi$.

In [169]:
pi = 3.1416

- La cuarta variable la llamaremos `condicion` y tomará el valor de `True`.

In [170]:
condicion = True

Note que cada variable tiene un color diferente. El color está asociado al **tipo** de variable: texto (*string*), número (*integer* o *float*), o booleana (*bool*). Para verificar el tipo de una variable siplemente escribimos: `type(nombre_de_la_variable)`.

In [171]:
type(refran)

str

In [172]:
type(x)

int

In [173]:
type(pi)

float

In [174]:
type(condicion)

bool

Saber la clase de los objetos con los que trabajamos es muy importante porque dependiendo de esta las operaciones y funciones a implementar van a cambiar su resultado. Para ver esto comparemos los resultados de las siguientes operaciones:

- Suma de dos números: un número entero (`int`) y un número flotante (`float`). Lo que nos retorna un número.

In [175]:
x + pi

6.1416

- Combinación de números y un booleano. Dado que condición toma el valor verdadero `Phython` lo interpreta como 1 (pruebe cambiando el valor de `condicion = False` y compare los resultados).

In [176]:
pi - 2*condicion

1.1416

- Negación del booleano.

In [177]:
not condicion

False

- Suma de texto (la operación suma (`+`) de variables de texto los concatena).

In [178]:
refran + refran

'Al que madruga le da sueño por la tardeAl que madruga le da sueño por la tarde'

- Agregar un espacio en blanco y repeter 5 veces `refran`.

In [179]:
(refran + " ")* 5

'Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde '

## Listas

Las listas son una forma de almacenar una secuencia de objetos. Una lista puede contener objetos de diferentes tipos e incluso puede contener otras listas. La forma más fácil de construir una lista es con dos corchetes (`[]`) y separando los elementos con una coma (`["a", "b"]`).

In [180]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)
print(type(beatles)) 
notas_taller1 = [4.2, 3.8, 4.5, 2, 5]
print(notas_taller1)
random_list = ['mytext', 3.0, 7, [10, 20]]
print(random_list)
lista_vacia = []
print(lista_vacia)

['John', 'Paul', 'George', 'Ringo']
<class 'list'>
[4.2, 3.8, 4.5, 2, 5]
['mytext', 3.0, 7, [10, 20]]
[]

Python es un método de programación orientado a objetos, es decir que casi todas las variables que definimos tienen ciertos atributos y propiedades. Las listas son un objeto que nos permite hacer diferentes operaciones. Empecemos partiendo nuestras listas en algunos subconjuntos.

Cada elemento de una lista se encuentra en una posición. En Python se le conoce como *index* y **la primera posición es el 0**, la segunda es el 1 y así sucesivamente hasta llegar a la última posición la cual sería n - 1.

- Si queremos extraer el primer elemento de una lista debemos escribir `nombre_lista[0]`.

In [181]:
print(beatles[0])

John

- O al segundo elemento.

In [182]:
print(beatles[1])

Paul

- Acceder al último elemento (tenga en cuenta que es -1 y no -0).

In [183]:
print(beatles[-1]) #

Ringo

- Acceder al n-ésimo - 1 elemento.

In [184]:
print(beatles[-2])

George

- Acceder al último elemento de la lista, que es otra lista. Una vez en esa lista, accedemos al primer elemento de la lista.

In [185]:
print(random_list[-1][0])

10

Si queremos extraer más de un elemento podemos usar los siguientes atajos. Tenga en cuenta que los corchetes en Python son inclusivos por la izquierda pero exclusivos por la derecha. Pero para ello creemos primero una nueva lista:

In [186]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Extraemos los primeros 5 elementos.

In [187]:
print(example[0:5])

[1, 2, 3, 4, 5]

- De los primeros 5 elementos, extraemos los últimos 4.

In [188]:
print(example[1:5])

[2, 3, 4, 5]

- Sólo extraemos el tercer elemento, no incluye el cuarto.

In [189]:
print(example[2:3])

[3]

- Desde el comienzo al tercer elemento. Note que es excluyente a la derecha.

In [190]:
print(example[:3])

[1, 2, 3]

- Desde el cuarto elemento hasta el final de la lista. Note que es incluyente a la izquierda.

In [191]:
print(example[3:])

[4, 5, 6, 7, 8, 9, 10]

- Comenzamos a extraer de 2 en dos desde el elemento 1 hasta el elemento 10. Syntaxis: `nombre_lista[indice_inicial:indice_final:tamaño_paso]`.

In [192]:
print(example[0:6:2])

[1, 3, 5]

- Extraer toda la lista de 2 en 2.

In [193]:
print(example[::2])

[1, 3, 5, 7, 9]

- Poner la lista en orden inverso.

In [194]:
print(example[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- Podemos modificar la lista.

In [195]:
example[0] = "Hola" 
print(example)

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Las operaciones básicas entre listas son muy similares a las operaciones entre strings.

In [196]:
print(example + example)
print(example * 3)
print(example + ["Añadir nuevo elemento a la lista"])

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Añadir nuevo elemento a la lista']

### tuplas

`tuplas` son es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se escriben entre parentesis y separadas por comas.

In [197]:
(2, "Darth Vader", 3.1415)

(2, 'Darth Vader', 3.1415)

Las tuplas pueden ser vacias, es decir no tener elementos

In [198]:
t = ()
t

()

In [199]:
len(t) # `len()` es una función que devuelve el número de elementos de una tupla

0

## Condiciones

Antes de entrar a declaraciones condicionales  (*if/else statements*) vamos a ver los diferentes tipos de condiciones que se pueden usar en `Phyton`:

- Igual (`==`)

In [200]:
x = 2
condicion1 = x == 2 
condicion1

True

- No es igual (`!=`)

In [201]:
condicion2 = x == 3 
condicion2

False

- Menor que y Menor o igual que (`<` y `<=`)

In [202]:
condicion3 = x < 3
condicion3

True

- Mayor que y Mayor o igual que (`>` y `>=`)

In [203]:
condicion4 = x>5
condicion4

False

- y (`and` o `&`)

In [204]:
condicion1 and condicion2 # V & F -> F

False

In [205]:
condicion2 and condicion1 # F & V -> F

False

- o (`or` o `|`)

In [206]:
=condicion1 or condicion2 # V | F -> V

SyntaxError: invalid syntax (<ipython-input-206-52478dc4b7d9>, line 1)

In [ ]:
condicion2 or condicion1 # F | V -> V

- Negación (`not` o `~`)

In [ ]:
not condicion2

## Flujos de Control (Control flows)

Ejecutar código en caso de que se cumplan ciertas condiciones. Acá tenemos 3 comandos básicos: `if`, `else` y `elif`.

Por ejemplo, la sintaxis para un flujo de control (*control flows*) tiene la siguiente forma:

```
if condicion1:
    # Si la condición es verdadera (True) se ejecuta este pedazo de código
    print("condicion1 es verdadera")
elif condicion2:
    # Si la condición 1 es falsa (False) y la condición 2 es verdadera (True), se ejecuta esta parte
    print("condicion1 es falsa y la condicion2 es verdadera")
else:
    # Si la condición 1 y 2 son falsas, se ejecuta esta porción
    print("condicion1 y la condicion 2 son falsas")
```

Python es un lenguaje minimalista por lo que para hacerflujo de control (*control flows*) no usa paréntesis ni corchetes. Después de la condición solo se debe incluir el símbolo de dos puntos (`:`) y el código que se desea correr si la condicion es verdadera debe estar debajo e indentado por 4 espacios (un tab).

Algunos ejemplos:

In [ ]:
lado_oscuro = "Anakin Skywalker"
hijo = "Luke Skywalker"

if lado_oscuro == "Anakin Skywalker": 
    print("Darth Vader")

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")

In [ ]:
if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

In [ ]:
padre = lado_oscuro

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
elif padre == "Anakin Skywalker":
    print("Yo soy tu padre!")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

## Bucles (Loops)

Existen dos tipos de bucles (loops).

- *for loops* en donde se itera sobre una lista de elementos.
- *while loops* en donde se itera hasta que cierta condición se deje de cumplir.

Algunos ejemplos:

- Iterar sobre los números del 0 al 4.

In [ ]:
for x in range(0, 5):
    print(x)

- Iterar sobre los números del 3 al 7 de dos en dos.

In [ ]:
for x in range(3, 8, 2):
    print(x)

- Iterar sobre texto (string).

In [ ]:
for x in "Python":
   print(x)

- Agregar un freno (`break`), detiene la iteración.

In [ ]:

mago = ["Harry", "Hermione", "Ron", "Voldemort", "Dumbledore"]
for x in mago:
    if x == "Voldemort":
        break #detiene la iteración
    print(x)

- Detener la iteración en la que va y continue con la siguiente

In [ ]:
# Continue statement
for x in mago:
    if x == "Voldemort":
        continue # continue con la siguiente
    print(x)

- Iterar hasta que `x` sea menor al valor 5

In [ ]:
x = 1
while x < 5: 
    print(x)
    x += 1

### Bucles (loops) de una sola linea

Los bucles o *loops* de una sola línea típicamente se usan para definir listas de una manera exhaustiva a partir de un iterable (características en común, operaciones sobre el iterable, etc). La sintaxis es:

```python
lista_compresiva = [elemento for elemento in iterable]
```

Recordemos que los iterables que hemos visto hasta ahora son los `strings` y `listas`(incluyendo `tuplas`).

Adicionalmente, podemos poner un condicional dentro de la definición. La sintaxis es:

```python
lista_compresiva = [elemento for elemento in iterable if condicion]
```

Cree una lista con los elementos de la palabra **tiburon**.

In [ ]:
lista_tiburon = [letra for letra in 'tiburon']
lista_tiburon

Cree una lista con los cuadrados de los números múltiplos de 3 menores a 30.

In [ ]:
lista_numeros = [x**2 for x in range(30) if x%3==0]
lista_numeros

## Funciones


Crear funciones es algo inevitable en cualquier tipo de aplicación.

    "Una función es una porción o bloque de código reutilizable que se encarga de realizar una determinada tarea."

Python es un lenguaje que nos da mucha flexibilidad al momento de crear funciones, en esté tutorial se darán cuenta porque.
Sintaxis




Una función es un bloque de código con un nombre asociado, que recibe cero o más argumentos como entrada, sigue una secuencia de sentencias, la cuales ejecuta una operación deseada y devuelve un valor y/o realiza una tarea, este bloque puede ser llamados cuando se necesite.

El uso de funciones es un componente muy importante del paradigma de la programación llamada estructurada, y tiene varias ventajas:

    modularización: permite segmentar un programa complejo en una serie de partes o módulos más simples, facilitando así la programación y el depurado.
    reutilización: permite reutilizar una misma función en distintos programas.

Python dispone de una serie de funciones integradas al lenguaje, y también permite crear funciones definidas por el usuario para ser usadas en su propios programas.
5.2.1. Sentencia def

La sentencia def es una definición de función usada para crear objetos funciones definidas por el usuario.

Una definición de función es una sentencia ejecutable. Su ejecución enlaza el nombre de la función en el namespace local actual a un objecto función (un envoltorio alrededor del código ejecutable para la función). Este objeto función contiene una referencia al namespace local global como el namespace global para ser usado cuando la función es llamada.



Para empezar primero veremos como podemos definir o declarar una función. La sintaxis sería:

```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    Parameters:
        parametro1 (clase_parametro1): Descripción de qué es el input y qué valores puede tomar. 
        parametro2 (clase_parametro2): Descripción de qué es el input y qué valores puede tomar. 

    Returns:
        output1 (clase_output): Descripción de lo que es el output y qué valores puede tomar.
    """

    # Bloque de código
    
    return(resultado)
```

- Por ejemplo creemos una función que suma dos números `a` y `b`

In [ ]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    Parameters:
        a (float): número a sumar.
        b (float): número a sumar.

    Returns:
        resultado (float): suma de a + b
    """
    
    resultado = a + b

    return(resultado)

Con el signo de interrogación (`?`) podemos acceder a la documentación de las funciones, por ende es importante documentar bien las funciones que creemos para ayudar a que terceros las puedan implementar de manera adecuada.

In [ ]:
?suma_dos_numeros

In [ ]:
suma_dos_numeros(2, 3)

## Introducción a Pandas

Pandas es la librería más famosa de Python para la manipulación de bases de datos. En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño.
- Data Frames: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas.
- Panel: arreglo 3D, tamaño mutable.

Para ver si la librería pandas está instalada podemos escribir el siguiente comando `!pip show pandas`. Si la librería está instalada nos debería salir un mensaje similar al que se ve a continuación.

In [207]:
!pip show pandas

Name: pandas
Version: 1.3.1
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /Users/iggy/opt/anaconda3/lib/python3.7/site-packages
Requires: python-dateutil, pytz, numpy
Required-by: statsmodels, seaborn, osmnx, metriculous, geopandas

En caso de no tener la librería instalada podemos utilizar el comando `!pip install pandas` para descargar el paquete directamente a nuestro computador. Si desea instalar otro paquete puede cambiar la palabra `pandas` del comando anterior por el nombre del paquete que desee instalar.

Como en nuestro caso ya está instalado procedemos a cargar el paquete y a declarar que vamos a acceder a él a través de la abreviación `pd`

In [208]:
import pandas as pd

Veamos ahora como generar un `dataframe`. Partiremos de 4 listas

In [209]:
nombres = ['Lucas', 'Juliana', 'Juan', 'Carla']
sexo = ['M', 'F', 'M', None]
edad = [23, 21, 25, 30]
notas = [4.5, 2, 3.25, 4]

A partir de estas listas crearemos un diccionario

In [210]:
diccionario = {'names': nombres, 'sex': sexo, 'age': edad, 'grades': notas}
diccionario

{'names': ['Lucas', 'Juliana', 'Juan', 'Carla'],
 'sex': ['M', 'F', 'M', None],
 'age': [23, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

Podemos entonces convertir el diccionario en un dataframe, usando la función `DataFrame` en `Pandas`

In [211]:
data = pd.DataFrame(diccionario)
data

     names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00

Como nuestro dataframe es un objeto, este tiene algunos atributos a los cuales podemos acceder escribiendo un punto (.) luego del nombre de nuestra base y luego el nombre del atributo que queremos visitar. Los principales atributos de un dataframe son los siguientes:

1. _index_. El índice es un identificador de las filas. Generalmente se numeran las filas de 
 0 a n - 1, sin embargo se pueden cambiar los índices para que sean una palabra o una sequencia de números deseada. Lo importante es que no se repitan los índices porque de ser así dejarían de ser un identificador claro de cada fila.

In [212]:
data.index

RangeIndex(start=0, stop=4, step=1)

2. _columns_. Nombre de las columnas.

In [215]:
data.columns

Index(['names', 'sex', 'age', 'grades'], dtype='object')

3. _shape_. Dimensiones de la base (filas, columnas).

In [216]:
data.shape

(4, 4)

4. _size_. Cantidad de datos: filas x columnas

In [217]:
data.size

16

5. _data.count()_, Cantidad de datos **no** nulos.

In [218]:
data.count()

names     4
sex       3
age       4
grades    4
dtype: int64

6. _values_. Volvemos el dataframe un np.array

In [219]:
data.values

array([['Lucas', 'M', 23, 4.5],
       ['Juliana', 'F', 21, 2.0],
       ['Juan', 'M', 25, 3.25],
       ['Carla', None, 30, 4.0]], dtype=object)

7. _T_. Trasponemos la base. Note que ahora los índices de la base son los nombres de las columnas de la base sin trasponer

In [ ]:
data.T #

8. _dtypes_ # Tipos de cada variable

In [ ]:

data.dtypes

Existen diferentes métodos para filtrar nuestra base de datos por columnas o por filas. Si queremos utilizar el nombre que identifica a la fila o a la columna, usamos el método `.loc`. Si queremos usar la posición de la fila o la columna, usamos el método `iloc`. Para este último es importante recordar que Python es un lenguaje 0-index, es decir que la primera posición se marca con 0.

A continuación se presentan algunos ejemplos:

In [220]:
# Extraiga la columna names 
data.loc[:,'names']

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

In [221]:
data.iloc[:,0]

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

In [ ]:
# Extraiga la columna names y sex
data.loc[:, ['names', 'sex']]

In [ ]:
# Cuando queremos extraer columnas solamente, podemos obviar el comando loc y usar solo corchetes
data[['names', 'sex']]

In [ ]:
data['names']

Si solo deseamos acceder a una columna y el nombre de esta no tiene espacios ni carácteres especiales podemos acceder utilizando el comando `nombre_base.nombre_columna`

In [ ]:
data.names

In [ ]:
# Extraiga la tercera fila de la base
data.iloc[2,:] # Usamos el signo : para dejar claro que queremos que nos muestre todas las columnas 
# pero no es necesario incluirlo

In [ ]:
# Extraiga la tercera y cuarta fila de la base
data.iloc[2:4,]

In [ ]:
# Extraiga la primera y la tercera fila de la base
data.iloc[[0,2],:]

A partir del comando `.loc` también podemos filtrar la base utilizando condicionales. Por ejemplo, si quisieramos quedarnos solo con los individuos que fueran mujeres podríamos utilizar un condicional para marcar las filas en donde hay una mujer con un `True` y las demás con un `False`.

In [ ]:
filtro = data["sex"] == "F"
filtro # Solo la segunda fila tiene a una mujer

In [ ]:
data.loc[filtro,] # Nos devuelve todas las columnas y solo las filas con mujeres
# Note que no nos muestran a Carla dado que su sexo es una información desconocida en nuestra base

Para crear una nueva columna puede hacerlo de la siguiente manera:
`nombre_base['nombre_columna'] = contenido_columna`

In [ ]:
data['rescaled_grades'] = data.grades*100/5

Para extraer la información clave de nuestra base usamos dos comandos:
- _info()_: Este atributo nos dice cuántas observaciones tenemos, cuántas columnas, la clase de cada columna y cuántos valores completos tiene.
- _describe_(): Nos muestra las estadísticas descriptivas de las variables.

In [ ]:
data.info()

In [ ]:
data.describe() # Estadísticas descriptivas de las variables numéricas

In [ ]:
data.describe(include = [object]) # Estadísticas descriptivas de variables que son strings

In [ ]:
data.describe(include = "all") # Estadísticas descriptivas de todas las columnas según su tipo

#### Estadísticas descriptivas
1. _sum()_
2. _min()_
3. _max()_
4. _idxmin()_
5. _idxmax()_
6. _mean()_
7. _median()_

In [ ]:
data.sum()

In [ ]:
data.min()

In [ ]:
data.max()

In [ ]:
data.age.idxmin()

In [ ]:
data.rescaled_grades.idxmax()

In [ ]:
data.mean()

In [ ]:
data.median()

#### Importar datos
Para importar datos debemos definir primero nuestro directorio. Es decir, decirle a Python en donde están ubicados nuestros archivos. Para tal fin, haremos uso de la librería `os`

In [224]:
import os

In [225]:
# ¿Cuál es el directorio actual?
os.getcwd() #Get Current Working Directory

'/Users/iggy/Dropbox/Teaching/2022/MIAD/Unsupervised_Learning_MIAD/Tutoriales/Week0'

In [226]:
# Para cambiar nuestro directorio escribimos entre paréntesis la 
# ruta de la carpeta en donde están ubicados nuestros archivos
os.chdir('Data') # Change Directory

In [227]:
# Para ver los archivos dentro de nuestro directorio utilizamos el comando
os.listdir()

['info_accidentes.csv']

In [228]:
# Para cargar un archivo en formato csv usamos la función pd.read_csv()
accidentes = pd.read_csv('info_accidentes.csv')
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

In [229]:
# Note que esta función tiene muchos argumentos que sirven para especificar en caso de que el 
# separador del archivo no sea una coma sino otra cosa como punto y coma, tab, etc o para 
# escoger que fila corresponde al nombre de las columnas, entre otras. Para más información,
# dirigirse a https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
?pd.read_csv

In [232]:
# Para cargar un archivo de excel usamos la función pd.read_excel()
accidentes2 = pd.read_excel('info_accidentes.xlsx')
accidentes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
 11  TipoVia1          34931 non-null  object
 12  NumeroVia1        34931 non-null  object
 13  LetraVia1         34931 non-null  object
 14  CardinalVia1      34931 non-null  object
 15  TipoVia2          34931 non-null  object
 16  NumeroVia2        34625 non-null  float64
 17  LetraVia2         34931 non-null  object
 18  CardinalVia2      34931 non-null  object
 19  Localidad         34931 non-null  object
 20  HoraOcurrencia    34931 non-null  object
 21  TipoDiseño        34931 non-null  object
 22  TipoTiempo        34931 non-null  object
 23  TotalMuertos      34931 non-null  int64
 24  TotalHeridos      34931 non-null  int64
dtypes: float64(3), int64(2), object(20)
memory usage: 6.7+ MB